<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Liste - Gestion de Stock</title>
</head>
<body>
    <div class="container-fluid">
        <header class="row">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Gestion de Stock</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Ajouter un produit</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Liste de produits</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="row text-center mt-4">
                <h1>Liste de produits</h1>
            </div>
            <div class="row my-5">
                <div class="col-8 offset-2">
                    <table class="table table-primary table-striped">
                        <thead>
                            <th>Réference</th>
                            <th>Nom</th>
                            <th>Catégorie</th>                            
                            <th>Prix</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr th:each="produit : ${produits}" >
                                <td th:text="${produit.reference}" ></td>
                                <td th:text="${produit.nom}"></td>
                                <td th:text="${produit.categorie.nom}"></td>
                                <td> <span th:text="${produit.prix}"></span> €</td>
                                <td>
                                   <a class="btn btn-info" th:href="@{/produits/details(id=${produit.id})}" ><i class="fa-regular fa-eye"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <footer class="row text-center text-bg-dark">
            <p class="my-auto py-2" >Gestion de Stock &copy; 2023</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>